/* 16 color-pallette, https://int10h.org/blog/2022/06/ibm-5153-color-true-cga-palette/ */

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 640px;
    height: 480px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    box-sizing: border-box;
}

#stats-bar {
    background-color: #0000AA;
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1px;
    box-sizing: border-box;
    position: relative;
}

.date-and-time {
    font-size: 8px;
    font-family: "Press Start 2P", serif;
    color: #FFFFFF;
}

#terminal {
    width: 100%;
    height: calc(100% - 20px);
    background-color: #FFFFFF;
    color: #FF5555;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Press Start 2P", serif;
    font-size: 8px;
    overflow-y: auto;
}

.output {
    flex-grow: 1;
    margin-bottom: 10px;
}

.path {
    color: #00AA00;
    font-size: 8px;
}

#cursor {
    display: inline;
    color: #00AA00;
    border-right: 2px solid #FFFFFF;
    padding: 0 2px;
    white-space: nowrap;
}

#cursor:focus {
    outline: none;
}

#cursor:empty:before {
    content: "_";
    color: #00AA00;
}